* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #d8805b;
    --dark-gray-color: #7f7f7f;
}

body {
    font-family: 'Libre Franklin', sans-serif; 
    font-size: 1em;
    background: url(../images/Blank-Wall.png);
    background-size: 100%;
}

body .navbar .container .back-container {
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    z-index: 100;
    position: relative;
    right: 0em;
    bottom: 0.025em;
}

body .navbar .container .back-container .close-link {
    color: black;
    cursor: pointer;
    font-size: 4.5em; /* As opposed to 2.8 em */
    z-index: 100;
    text-decoration: none;
}


body .navbar .container .thank-you-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
}