body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.title {
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.text-button-wrapper {
    display: flex;
    flex-direction: column;
}

.text-button-wrapper .text {
    /* margin: 1.5em 0em 0em 0em;
    padding: 1.25em 1em 0em 1.25em; */
    font-size: 1.5em;
    line-height: 1.6em;
    color: #636363;
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.text-button-wrapper .text p {
    margin-top: 1em;
}

.button-div {
    margin: 1em 0em 1em 1.95em;
}

.button-div .text-button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

footer {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      flex-grow: 0; /*Don't want the flex*/
      /* height: 2em; */  
}