.hero .container .hero-content .text-button-wrapper .paragraph-container {
    overflow: hidden;
    margin-top: 1em;
}

.window-image {
    max-width: 400px;
    float: right;
    padding: 0.5em 0em 0em 1em;
}

.button-div {
    text-align: center;
    margin: 0.5em 0em 0em 0em;
    display: none; /* Initially hidden */
}

.text-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    cursor: pointer;
}

@media (max-width: 860px) {
    .hero .container .hero-content .text-button-wrapper .paragraph-container .window-image {
        float: none;
        max-width: 400px;
        margin: 0 auto;
        display: block;
    }

    .hero .container .hero-content .text-button-wrapper {
        clear: both;
        display: flex;
        flex-direction: column;
    }

    .hero .container .hero-content .text-button-wrapper .paragraph-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .hero .container .hero-content .text-button-wrapper .paragraph-container p {
        text-align: left;
    }
}

@media (max-width: 650px) {
    .hero .container .hero-content .paragraph-container {
        margin-top: 1em;
    }

    .hero .container .hero-content .paragraph-container p {
        font-size: 1.25em;
    }
}