.about-me {
    max-width: 1440px;
    margin: 0 auto;
    flex-grow: 1;
}

.about-me .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.about-me .container .about-image {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding-left: 2em;
    margin: 2em auto;
    width: 100%;
}

.about-me .container .about-image .title {
    font-size: 2.5em;
}

.about-me .container .text-button-wrapper .text {
    margin: 1.5em 0em 0em 0em;
    padding: 1.25em 1em 0em 1.25em;
    min-height: 2em;
}

@media (max-width: 760px) {
    .about-me .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me .container .about-image {
        text-align: center;
        padding: 1em 1em 0em 1em;
        margin: 0.5em 0em 0em 0em;
        max-width: 300px;
    }
    .about-me .container .text-button-wrapper .text {
        text-align: left;
        padding: 0em 0em 1em 1em;
        margin: 0em;
    }
}

@media (max-width: 650px) {
    .about-me .container .about-image .title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .about-me .container .about-image {
        margin: 0 auto;
        max-width: 270px;
    }
    .about-me .container .text-button-wrapper .text {
        font-size: 1.4em;
    }
}

@media (max-width: 550px) {
    .about-me .container .about-image .title {
        font-size: 1.75em;
    }

    .about-me .container .about-image {
        margin: 0 auto;
        max-width: 250px;
    }
    .about-me .container .text-button-wrapper .text {
        font-size: 1.25em;
    }
}

/**
* undoing the navbar styling of style.css below 480px 
* this way menu-container and contact-button keep the same size and margins below 480px
*/
@media (max-width: 480px) {
    .navbar .container .menu-container {
        margin-left: 1.5em;
    }
    
    .navbar .container .menu-container .menu {
        font-size: 1.25em;
    }
    
    .navbar .container .menu-container .hamburger-button .hamburger-line {
        width: 2.3em;
        height: 0.425em;
    }

    .navbar .container .contact-button {
        font-size: 1.2em;
        margin-right: 1em;
    }
}