.hero .container .hero-content .paragraph-container .relationship-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 0em 1.5em 0em 0em;
    padding: 0.5em 1em 1em 0em;
    float: left;
}

@media (max-width: 860px) {
    .hero .container .hero-content .paragraph-container {
        display: flex;
        flex-direction: column;
    }

    .hero .container .hero-content .paragraph-container .relationship-image {
        margin: 1em auto 0em auto;
        padding-bottom: 0em;
    }
}

@media (max-width: 650px) {
    .hero .container .hero-content .hero-heading .title {
        font-size: 0.9em;
    }
}

/**
* undoing the navbar styling of style.css below 480px 
* this way menu-container and contact-button keep the same size and margins below 480px
*/
@media (max-width: 480px) { 
    .hero .container .hero-content .hero-heading .title {
        padding: 0.5em;
        font-size: 0.8em;
    }

    .navbar .container .menu-container {
        margin-left: 1.5em;
    }

    .navbar .container .menu-container .menu {
        font-size: 1.25em;
    }
    
    .navbar .container .menu-container .hamburger-button .hamburger-line {
        width: 2.3em;
        height: 0.425em;
    }

    .navbar .container .contact-button {
        font-size: 1.2em;
        margin-right: 1em;
    }
}