.supervision-image {
    max-width: 400px;
    float: right;
    width: 100%;
    height: auto;
    padding: 0.5em 0em 0em 1em;
}

@media (max-width: 900px) {
    .supervision-image {
        margin-left: 1em;
    }
}

@media (max-width: 740px) {
    .hero .container .hero-content .paragraph-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero .container .hero-content .paragraph-container .supervision-image {

        margin: 1em 0em 0em 0em;
    }

}

@media (max-width: 650px) {
    .hero .container .hero-content .hero-heading {
        font-size: 2em;
    }

    .hero .container .hero-content .paragraph-container p {
        font-size: 1.25em;
    }
}

@media (max-width: 550px) {
    .hero .container .hero-content .hero-heading {
        font-size: 1.75em;
    }
}